@charset "UTF-8";
*{
    margin: 0px;
}
div.container{
    display: flex;
    text-align: center;
    margin: auto;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}
header{
    display: flex;
    background-color: black;
    color: white;
    height: 10vh;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

main{
    background-color: grey;
    width: 75%;
    margin: auto;
    color: white;
    height: 100vh;
    max-width: 500px;
}

form *{
    margin: 10px;
}
form a{
    color: white;
    text-decoration: none;
}
form a:hover{
    color: darkorange;
}
label{
    display: block;
    margin: 0px auto ;
}
input[type="submit"]{
    padding: 5px;
    width: 40%;
    border-radius: 5px;
    border: 0px ;
    color: white;
    background-color: black;
}
